<div class='container'>

        <div id='photo'>

            <img src={{photo}}>

        </div>

        <div id='info'>

            <h2>Name : <span>{{name}}</span></h2>

            <h2>Birthday : <span>{{birthday}}</span></h2>

            <h2>Gender : <span>{{gender}}</span></h2>

            {{!-- <h2>Hometown : <span>{{hometown}}</span></h2> --}}

            <a href={{profileURL}}><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a>

        </div>

        <div id='btn'>
            <form action="/map">
                <input type="submit" value="Available Tonight">
            </form>
            <a href="/logout">Log Out</a>
        </div>

</div>